<!doctype html>
  <html>
  <head>
  <meta charset="UTF-8">
  <title>CSS @import Rule</title>
      <style>
          @import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
  
          body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2acac;
  font-family: 'Mochiy Pop P One', sans-serif;
}
      </style>
  </head>
  <style>body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2acac;
  }</style>
  <style>input#open {
    display: none;
  }
  
  .valentines-day-card {
    position: relative;
    width: 300px;
    height:300px;
    transform-style: preserve-3d;
      transform: perspective(2500px);
    transition: .3s;
  }
  
  .card-front {
    position: relative;
    background-color: #fff0f3;
    width: 300px;
    height:300px;
    transform-origin: left;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.15), 30px 0 50px rgba(0,0,0,0.3);
    transition: .3s;
  }
  
  .card-front:before {
    content:"";
    position: absolute;
    width: 280px;
    height: 280px;
    background-color: #d04e4e;
    top: 10px;
    left: 10px;
  }
  
  .card-inside {
    position: absolute;
    background-color: #fff0f3;
    width: 300px;
    height:300px;
    z-index:-1;
    left:0;
    top:0;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,0.22), 100px 20px 100px rgba(0,0,0,0.1);
  }
  
  .open {
    position: absolute;
    width: 300px;
    height:300px;
    left:0;
    top:0;
    background-color: transparent;
    z-index:6;
    cursor: pointer;
  }
  
  #open:checked ~ .card-front {
    transform: rotateY(-155deg);
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.13), 30px 0 50px rgba(0,0,0,0.1);
  }
  
  #open:checked ~ .card-front:before {
    z-index:5;
    background-color: #fff0f3;
    width:300px;
    height:300px;
    top:0;
    left:0;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.1), 30px 0 50px rgba(0,0,0,0.1);
  }</style>
  <style>.note {
    position: relative;
    width: 200px;
    height: 150px;
    background-color: #fff0f3;
    top:75px;
    left:50px;
    color: #333;
    font-size:30px;
    display: flex;
    align-items: center;
    text-align: center;
    filter: drop-shadow(0 0 20px rgba(0,0,0,0.3));
  }
  
  .note:before, .note:after {
    position: absolute;
    content:"";
    background-color: #ba1c1c;
    width: 40px;
    height:40px;
  }
  
  .note:before {
    transform: rotate(-45deg);
    top:-20px;
    left:80px;
  }
  
  .note:after {
    border-radius:50%;
    top:-35px;
    left:65px;
    box-shadow:30px 0 #ba1c1c;
  }</style>
  <style>.text-one {
    position: absolute;
    color: #333;
    font-size: 30px;
    top:30px;
    width:300px;
    text-align: center;
  }
  
  .text-one:before, .text-one:after {
    position: absolute;
    left:5px;
    text-align: center;
    width:300px;
  }
  
  .text-one:before {
    content:"4 Months";
    top:30px;
    color: #d04e4e;
  }
  
  .text-one:after {
    content:"Anniversary love!";
    top:60px;
  }
  </style></card>
    
